*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: auto;
}

body{
    margin-top: 20px;
}

.boder{
    border: 1px solid rgb(210, 83, 241);
    box-shadow: 0 0 10px rgb(210, 83, 241);
    border-radius: 10px;
}

.img-main{
    width: calc(100% - 36%);
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.8);
    margin-top: 2rem;
}

.infor-left{
    background-color: rgba(239, 189, 252, 0.4);
    text-align: center; 
}

.hr{
    margin-top: 1.9rem;
    margin-bottom: 1rem;
}

.hr-right{
    margin-bottom: 1rem;
}

.white-box{
    height: 4.7rem;
}

.name-box{
    background-color: rgba(239, 189, 252, 0.4);
    padding-bottom: 0.5rem;
}

.position-row{
    display: block;
}

.title{
    color:rgb(210, 83, 241);
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.title-right{
    color:rgb(210, 83, 241);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (min-width: 1113px) {
    .row{
        margin-left: 0;
        margin-right: 0;
    }

}

@media (min-width: 1024px) and (max-width: 1239px) {
    .row{
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px){

    .white-box:first-child{
        display: none;
    }

    .white-box:last-child{
        height: 3rem;
    }

    .name-box{
        text-align: center;
    }
}

@media (max-width: 767px) {
    body{
        margin-top: 0;
    }

    .img-main{
        width: 40%;
        align-items: center;
        border-radius: 50%;
        box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.8);
        margin-top: 3rem;
    }

    .name-box{
        width: 100%;
        padding-top: 1rem;
        text-align: center;
    }

    .boder{
        border: none;
        box-shadow: none;
        border-radius: none;
    }

    .row{
        margin-left: 0;
        margin-right: 0;
    }

    .white-box{
        height: 4.7rem;
        background: red;
    }
   
    .white-box{
        display: none;
    }
}
